%h3.text-center.mb-4 Login

= bootstrap_form_for @admin, url: users_sessions_path do |f|
  = render 'shared/form_base_errors', f: f
  = f.text_field :email, placeholder: 'Email Address', hide_label: true
  = f.password_field :password, placeholder: 'Password', hide_label: true

  = f.form_group do
    = f.submit 'Login'

  %p.text-center
    - link_options = Rails.application.secrets.password_reset_host.present? ? { host: Rails.application.secrets.password_reset_host } : {}
    %small= link_to 'Forgotten password?', new_password_url(link_options)
