%p
  %strong #{@model_name}:
  = @camper_question.text

%p
  %strong From / De:
  = @child.full_name

%p Please don't delay in answering this child’s question! #{link_to('Log into Faith Spark now to reply to this question', login_url)}.

%p
  %i This email address has been designated to receive email notifications about new QBox questions. If you would like to make any changes, log into Faith Spark and edit your location.

%hr

%p S’il vous plaît, ne tardez pas à répondre à la question de cet enfant! #{link_to('Connectez-vous à Faith Spark maintenant pour répondre à cette question', login_url)}.

%p
  %i Cette adresse courriel a été désignée afin de recevoir les notifications concernant les nouvelles questions. Si vous souhaitez apporter des modifications, connectez-vous à Faith Spark et changez votre emplacement.
