- title_bar "Edit #{@child.full_name}" do
  = delete_button(child_path(@child), text: "Delete #{@child.full_name}", remote: false, disabled: !@child.can_be_deleted?)

= bootstrap_form_with model: @child, url: child_path(@child), local: true do |f|
  = render 'form', f: f

  = f.form_group do
    = f.submit update_button_label(User::Child), class: 'btn btn-success'
