- title_bar "Edit #{@theme.name}" do
  = delete_button(theme_path(@theme), text: "Delete #{@theme.name}", remote: false)

= bootstrap_form_with model: @theme, local: true do |theme_form|
  = render 'form', theme_form: theme_form

  = theme_form.form_group do
    = theme_form.submit update_button_label(Theme), class: 'btn btn-success'
